<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<main>
    <div class="jumbotron">
        <h1>Twitch Analytics</h1>
        <p>Welcome to Twitch Analytics, enter your username to get analytics.</p>

        <form action="/twitch/analytics" method="GET">
            <div class="form-group">
              <label for="Username">Username</label>
              <input type="text" class="form-control" id="username" name="username" aria-describedby="Username">
             
            </div>
            
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    </div>

   
</main>

<footer>
    <%- include('../partials/footer'); %>    
</footer>

</body>
</html>